In [ ]:
import pandas as pd

In [ ]:
beats = pd.read_csv("cpdb_public_data_offrassignmentattendance.csv")

In [ ]:
beats.dropna(inplace=True)
beats.officer_id = beats.officer_id.astype(int)
beats.beat_id = beats.beat_id.astype(int)

In [ ]:
beat_nums = set()
import json
with open("bounds.geojson") as f:
    gj = json.load(f)
for feature in gj['features']:
    beat_nums.add(int(feature['properties']['beat_num']))

In [ ]:
beat_nums

{111,
 112,
 113,
 114,
 121,
 122,
 123,
 124,
 131,
 132,
 133,
 211,
 212,
 213,
 214,
 215,
 221,
 222,
 223,
 224,
 225,
 231,
 232,
 233,
 234,
 235,
 311,
 312,
 313,
 314,
 321,
 322,
 323,
 324,
 331,
 332,
 333,
 334,
 411,
 412,
 413,
 414,
 421,
 422,
 423,
 424,
 431,
 432,
 433,
 434,
 511,
 512,
 513,
 522,
 523,
 524,
 531,
 532,
 533,
 611,
 612,
 613,
 614,
 621,
 622,
 623,
 624,
 631,
 632,
 633,
 634,
 711,
 712,
 713,
 714,
 715,
 722,
 723,
 724,
 725,
 726,
 731,
 732,
 733,
 734,
 735,
 811,
 812,
 813,
 814,
 815,
 821,
 822,
 823,
 824,
 825,
 831,
 832,
 833,
 834,
 835,
 911,
 912,
 913,
 914,
 915,
 921,
 922,
 923,
 924,
 925,
 931,
 932,
 933,
 934,
 935,
 1011,
 1012,
 1013,
 1014,
 1021,
 1022,
 1023,
 1024,
 1031,
 1032,
 1033,
 1034,
 1111,
 1112,
 1113,
 1114,
 1115,
 1121,
 1122,
 1123,
 1124,
 1125,
 1131,
 1132,
 1133,
 1134,
 1135,
 1211,
 1212,
 1213,
 1214,
 1215,
 1221,
 1222,
 1223,
 1224,
 1225,
 1231,
 1232,
 1233,
 1234,
 1235,
 1411,
 1412,
 1413,
 1414,
 1421,
 1422,
 1423,
 1424,
 1431,
 1432,
 1433,
 1434,
 1511,
 1512,
 1513,
 1522,
 1523,
 1524,
 1531,
 1532,
 1533,
 1611,
 1612,
 1613,
 1614,
 1621,
 1622,
 1623,
 1624,
 1631,
 1632,
 1633,
 1634,
 1651,
 1652,
 1653,
 1654,
 1655,
 1711,
 1712,
 1713,
 1722,
 1723,
 1724,
 1731,
 1732,
 1733,
 1811,
 1812,
 1813,
 1814,
 1821,
 1822,
 1823,
 1824,
 1831,
 1832,
 1833,
 1834,
 1911,
 1912,
 1913,
 1914,
 1915,
 1921,
 1922,
 1923,
 1924,
 1925,
 1931,
 1932,
 1933,
 1934,
 1935,
 2011,
 2012,
 2013,
 2022,
 2023,
 2024,
 2031,
 2032,
 2033,
 2211,
 2212,
 2213,
 2221,
 2222,
 2223,
 2232,
 2233,
 2234,
 2411,
 2412,
 2413,
 2422,
 2423,
 2424,
 2431,
 2432,
 2433,
 2511,
 2512,
 2513,
 2514,
 2515,
 2521,
 2522,
 2523,
 2524,
 2525,
 2531,
 2532,
 2533,
 2534,
 2535,
 3100}

In [ ]:
beats = beats[beats['beat_id'].isin(beat_nums)]

In [ ]:
beats_mode = beats.groupby('officer_id')['beat_id'].apply(pd.Series.mode).to_frame()

In [ ]:
beats_mode.nunique()

beat_id    202
dtype: int64

In [ ]:
officer_data = pd.read_csv("cpdb_public_data_officer.csv")

In [ ]:
officer_data

,id,civilian_allegation_percentile,honorable_mention_percentile,internal_allegation_percentile,trr_percentile,allegation_count,sustained_count,civilian_compliment_count
0,35111,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,35427,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35429,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,35437,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,33874,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
13227,10170,57.7487,79.8331,61.1521,72.1094,31.0,1.0,10.0
13228,15995,24.1180,50.0275,79.9133,0.0000,14.0,0.0,4.0
13229,25503,97.8772,85.2153,79.9133,75.2071,44.0,1.0,2.0
13230,25732,83.7403,56.9460,88.3297,38.9028,24.0,1.0,2.0
13231,27439,99.2127,97.5289,93.0935,88.0064,62.0,2.0,2.0

In [ ]:
officer_data = officer_data.dropna()

In [ ]:
df = beats_mode.merge(officer_data, left_on='officer_id', right_on='id', how='left')

In [ ]:
df = df.dropna()

In [ ]:
df

,beat_id,id,civilian_allegation_percentile,honorable_mention_percentile,internal_allegation_percentile,trr_percentile,allegation_count,sustained_count,civilian_compliment_count
0,623,1.0,61.2069,94.8669,76.9384,79.8763,6.0,0.0,4.0
3,112,34.0,72.3141,65.8764,79.9133,78.2707,15.0,1.0,1.0
5,532,42.0,78.4732,98.4830,0.0000,96.4825,12.0,0.0,9.0
7,924,57.0,0.0000,92.3440,0.0000,0.0000,0.0,0.0,1.0
8,1422,62.0,60.9577,80.1598,0.0000,48.9674,3.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
4708,1925,31748.0,0.0000,91.5904,0.0000,0.0000,2.0,0.0,1.0
4710,711,31759.0,46.1830,89.7306,0.0000,77.1304,1.0,0.0,2.0
4711,1723,31761.0,81.2787,99.0814,73.6047,83.0024,14.0,0.0,5.0
4712,1512,31763.0,0.0000,90.7430,0.0000,0.0000,0.0,0.0,4.0
4713,1512,31782.0,73.7044,99.8739,0.0000,98.6214,6.0,0.0,7.0

In [ ]:
df.groupby("beat_id")['civilian_allegation_percentile','honorable_mention_percentile','internal_allegation_percentile','trr_percentile','allegation_count','sustained_count','civilian_compliment_count'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

,civilian_allegation_percentile,honorable_mention_percentile,internal_allegation_percentile,trr_percentile,allegation_count,sustained_count,civilian_compliment_count
beat_id,,,,,,,
111,54.993000,82.912300,0.000000,77.709100,3.000000,0.000000,8.000000
112,52.745088,56.789896,44.515385,40.445277,13.423077,1.115385,5.576923
114,74.413633,85.530067,48.759233,73.807633,18.333333,0.333333,6.333333
121,70.192709,77.549264,30.889982,54.650145,24.363636,0.545455,6.545455
122,49.535843,83.737529,38.826571,69.370729,12.714286,0.428571,7.000000
...,...,...,...,...,...,...,...
2412,43.238000,86.808225,39.524375,41.006200,5.250000,0.750000,2.500000
2422,56.340440,88.501480,18.090500,38.403500,3.800000,0.000000,0.600000
2424,54.073650,87.192325,21.263950,63.034725,5.750000,1.000000,0.750000
2521,95.779400,98.551000,61.152100,92.108200,40.000000,2.000000,10.000000
2532,29.798700,60.833800,79.913300,0.000000,5.000000,1.000000,1.000000

In [ ]:
df.to_csv("beat_summary_statistics.csv")